html, 
body {
    margin: 0;
}

/* specificity */
/* 
1. ID       = AVOID IF POSSIBLE
2. CLASS    = HAVE AS MANY AS POSSIBLE
3. TAG NAME = DONT EVER STYLE TAGS DIRECTLY.
*/


/* . denotes class */
.header {
    border: 5px solid blue;
    /* NO SHORTCUTS HERE */
    /* 
    border-bottom: 10px dashed red;
    border-top: 15px dotted green;
    border-left: 20px solid black;
    border-right: 25px solid yellow; 
    */
    margin: 5px;
    /*      TOP  RIGHT  BOTTOM LEFT */
    /* margin: 20px 10px   25px   15px; */
    /* 
    margin-top: 20px;
    margin-bottom: 25px;
    margin-left: 15px;
    margin-right: 10px ; 
    */
    padding: 5px;
    /*      TOP  RIGHT  BOTTOM LEFT */
    /* padding: 20px 10px   25px   15px; */
    /* 
    padding-right: 10px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-top: 25px; 
    */

    /* to align text/children/inline elements */
    text-align: center;

    /* to curve a border */
    border-radius: 10px;

    /* to give an 3D effect */
    box-shadow: 5px 10px 10px 5px rgba(0, 0, 0, 0.25);
}

/* .picture {
    text-align: center;
} */

/* .picture {
    display: inline;
} */

.picture-img {
    border: thin solid black;
    border-radius: 5px;
    padding: 5px;
}

.hd {
    position: fixed;
    z-index: 10;
    color: white;
    background-color: rgba(255, 255, 255, 0.25)
}

/* PSEUDO - CLASSES */
.primary {
    outline: none;
    padding: 20px 15px 20px 15px;
    margin: 50px 50px;
    background: teal;
    border: thin solid rgb(0, 253, 253);
    color: white;
    font-size: 24px;
    border-radius: 5px;
}

.primary:hover {
    cursor: pointer;
}

.primary:active {
    background: rgb(0, 100, 100);
    transform: translateY(2px);
}
