html,
body {
    margin: 0;
    /* min-height => the minimum height an element should have  */
    /* vh - viewport height */
    min-height: 100vh;
}

.header {
    background: black;
    color: white;
    padding: 20px;
    font-size: 24px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav, .nav {
    display: inline;
}

.nav {
    float: right;
}

.download-btn {
    background-color: #77bbfa;
    border-radius: 5px;
    padding: 16px 8px 16px 8px;
    border: none;
    outline: none;
    color: white;
    font-weight: bold;
    position: relative;
    top: -7px;
}

.about-us {
    text-align: center;
    padding: 16px;
    background-color: #4f1e89;
    color: white;
}

.main {
    padding: 32px 40px 32px 40px;
    background-color: #6a36a2;
}

.main div {
    float: left;
}

.clear {
    clear: both;
}

.content {
    padding: 20px;
    color: white;
}

li {
    list-style: none;
    font-size: 20px;
}